* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100vh;
}

body {
	min-height: 100vh;
	background: #999;
	font-family: 'Source Sans Pro', sans-serif;
}

#wrapper {
	width: 90%;
	height: 100vh;
	margin: 30px auto;
}

header {
	height: 90px;
	text-align: center;
	line-height: 90px;
	margin-bottom: 10px;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 3em;
	letter-spacing: .05em;
}

.col-group {
	padding: 10px;
	float: left;
	width: 33.33%;
}

.container {
	background-color: #f8f8f8;
	border: 1px solid black;
}

h3 {
	width: 110px;
	height: 30px;
	line-height: 30px;
	float: right;
	text-align: center;
	background-color: #ddd;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	font-family: 'Roboto Slab', serif;
	font-size: 1.2em;
	letter-spacing: .1em;
}

p {
	clear: both;
	padding: 10px;
	font-size: .9em;
}



/* TABLET */
@media (min-width: 768px) and (max-width: 991px) {
	
	.col-6 {
		width: 50%;
	}
	.col-6-middle {
		width: 50%;
		float: right;
	}
	.col-12 {
		clear: both;	
		width: auto;
		float: none;
	}
}

/* MOBILE */
@media  (max-width: 767px) {

	.col-group {
		width: auto;
		float: none;
	}
	.col-6-middle {
		margin-left: 0px;
	}
	header {
		height: 5vh;
		line-height: 5vh;
	}
	h1 {
		font-size: 2em;
	}
	h3 {
		font-size: 1em;
	}
	p {
		font-size: .85em;
	}
}



